h1 , p{
    font-family: 'Itim', cursive;
}

p{
    font-size: 28px;
}
body {
    background-color: #C8C8C8;
}

img {
    width: 600px;
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.item {
    width: 50%;
}