{% extends "layout.html" %}

{% block css_url %}
    <link rel="stylesheet" href="{{url_for('static', filename = 'style-cutemiao.css') }}">
{%endblock%}

{% block animal_image %}
    <img src="{{url_for('static', filename = 'cute_miao.jpg') }}" alt="cute miao image">
{%endblock%}

{% block description %}
    <p>Cute miao is so cute. Look at its innocent look! AAAAAAAA SOOOOOO CUTEEEEEEEEEEEE!!!!!!!!!! also, cute miao make a great "hand holder" (? when you are using a mouse.</p>
{%endblock%}