<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'style-index.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
</head>
<body>

    <div id="greyNyellow">
        <div id="grey"></div>
        <div id="yellow"></div>
    </div>
    <div id="brown"></div>

    <div id="txtNimg">
        <h1>Introduction owo</h1>
        <img src="{{url_for('static', filename = 'miao_jip_bigmiao.jpg') }}" alt="miao_jip_bigmiao">
    </div>
</body>
</html>