<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}}</title>
    {% block css_url %}
    {% endblock %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
</head>
<body>
  <h1>{{name}}</h1>

  <div class = "container">
      <div class = "item">
          {% block animal_image %}
          {%endblock%}
      </div>

      <div class = "item">
          {% block description %}
          {%endblock%}
      </div>
  </div>

  <a href="{{url_for('index') }}">BACKKK</a>
</body>
</html>